# PreTest Data Science Academy

In [6]:
import pandas as pd
import statistics as st

In [9]:
#load data
data = pd.read_csv('/Users/administrator/Documents/Telkomsel/Project/churn.csv',encoding='latin1')

In [11]:
data.head(5)

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,class
0,16,128,415,2845,0,1,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,35,107,415,2301,0,1,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,31,137,415,1616,0,0,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,35,84,408,2510,1,0,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,36,75,415,155,1,0,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [16]:
data.tail()

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,class
4995,11,50,408,2000,0,1,40,235.7,127,40.07,...,126,18.96,297.5,116,13.39,9.9,5,2.67,2,0
4996,49,152,415,394,0,0,0,184.2,90,31.31,...,73,21.83,213.6,113,9.61,14.7,2,3.97,3,1
4997,7,61,415,313,0,0,0,140.6,89,23.90,...,128,14.69,212.4,97,9.56,13.6,4,3.67,1,0
4998,7,109,510,3471,0,0,0,188.8,67,32.10,...,92,14.59,224.4,89,10.10,8.5,6,2.30,0,0
4999,46,86,415,2412,0,1,34,129.4,102,22.00,...,104,22.70,154.8,100,6.97,9.3,16,2.51,0,0

In [15]:
data.count()

state                            5000
account_length                   5000
area_code                        5000
phone_number                     5000
international_plan               5000
voice_mail_plan                  5000
number_vmail_messages            5000
total_day_minutes                5000
total_day_calls                  5000
total_day_charge                 5000
total_eve_minutes                5000
total_eve_calls                  5000
total_eve_charge                 5000
total_night_minutes              5000
total_night_calls                5000
total_night_charge               5000
total_intl_minutes               5000
total_intl_calls                 5000
total_intl_charge                5000
number_customer_service_calls    5000
class                            5000
dtype: int64

# 1. State mana yang paling rendah number calls?

In [17]:
import pandas as pd

In [22]:
data.groupby(['state'])['total_day_calls'].sum()

state
0      7167
1     12292
2      9193
3      8905
4      5332
5      9399
6      9700
7      8888
8      9221
9      9031
10     8422
11     8866
12     6996
13    12379
14     8679
15    10376
16     9910
17     9758
18     8508
19    10243
20    10087
21    10310
22    10170
23    12543
24     9308
25     9883
26     9583
27     9131
28     8894
29     8657
30     9495
31    11334
32     9153
33     9070
34    11169
35    11628
36     9057
37    10917
38     7698
39     9680
40     9394
41     8157
42     8903
43    11630
44    11103
45    11989
46    10237
47     9840
48    10437
49    15864
50    11561
Name: total_day_calls, dtype: int64

# 2. Siapa customer yang paling sedikit calls per day?

In [25]:
data.groupby(['phone_number'])['total_day_calls'].sum()

phone_number
0        79
1        94
2       149
3        86
4        91
5        92
6       115
7        87
8        47
9       117
10       76
11       77
12       97
13       94
14       97
15      107
16       99
17      103
18       93
19      110
20       74
21      113
22      100
23       77
24      104
25       92
26       90
27      112
28       60
29      146
       ...
4970    122
4971    109
4972    121
4973    138
4974     74
4975    102
4976     80
4977     94
4978     98
4979    112
4980     87
4981     77
4982    121
4983    107
4984    151
4985    135
4986     82
4987     90
4988    116
4989    101
4990    126
4991     97
4992    117
4993     83
4994    116
4995    102
4996     85
4997     73
4998     97
4999    103
Name: total_day_calls, Length: 5000, dtype: int64

# 3. Siapa customer yang paling banyak menggunakan voice mail?

# 4. Jumlah transaksi kategori Low, High?

# 5. Siapa aja customer dalam kategori Low dan High?